toInstall/Glintths.Er.WebServices/Glintths.Er.Task/Service References/LocalEResultsService/LocalEResultsService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Glintths.Base.Internal.Entities.Local.UserManagement" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Glintths.Base.Internal.Entities.Local.UserManagement" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLocalUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LocalUser" nillable="true" type="tns:LocalUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLocalUser" nillable="true" type="tns:ArrayOfLocalUser" />
  <xs:complexType name="LocalUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationId" type="xs:decimal" />
      <xs:element minOccurs="0" name="Details" nillable="true" type="tns:ArrayOfLocalUserDetails" />
      <xs:element minOccurs="0" name="IsAnonymous" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastActivityDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MobileAlias" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Settings" nillable="true" type="tns:ArrayOfLocalUserManagement" />
      <xs:element minOccurs="0" name="UserId" type="xs:decimal" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LocalUser" nillable="true" type="tns:LocalUser" />
  <xs:complexType name="ArrayOfLocalUserDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LocalUserDetails" nillable="true" type="tns:LocalUserDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLocalUserDetails" nillable="true" type="tns:ArrayOfLocalUserDetails" />
  <xs:complexType name="LocalUserDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Application" nillable="true" type="tns:LocalApplication" />
      <xs:element minOccurs="0" name="Disabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Module" nillable="true" type="tns:LocalModule" />
      <xs:element minOccurs="0" name="Profiles" nillable="true" type="tns:ArrayOfLocalProfile" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LocalUserDetails" nillable="true" type="tns:LocalUserDetails" />
  <xs:complexType name="LocalApplication">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:decimal" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LocalApplication" nillable="true" type="tns:LocalApplication" />
  <xs:complexType name="LocalModule">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:decimal" />
      <xs:element minOccurs="0" name="IsDisabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LocalModule" nillable="true" type="tns:LocalModule" />
  <xs:complexType name="ArrayOfLocalProfile">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LocalProfile" nillable="true" type="tns:LocalProfile" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLocalProfile" nillable="true" type="tns:ArrayOfLocalProfile" />
  <xs:complexType name="LocalProfile">
    <xs:sequence>
      <xs:element minOccurs="0" name="Depth" type="xs:decimal" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:decimal" />
      <xs:element minOccurs="0" name="IsDisabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="ModuleId" type="xs:decimal" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentId" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LocalProfile" nillable="true" type="tns:LocalProfile" />
  <xs:complexType name="ArrayOfLocalUserManagement">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LocalUserManagement" nillable="true" type="tns:LocalUserManagement" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLocalUserManagement" nillable="true" type="tns:ArrayOfLocalUserManagement" />
  <xs:complexType name="LocalUserManagement">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationId" type="xs:decimal" />
      <xs:element minOccurs="0" name="LastUpdatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ModuleId" type="xs:decimal" />
      <xs:element minOccurs="0" name="PropertyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PropertyValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LocalUserManagement" nillable="true" type="tns:LocalUserManagement" />
</xs:schema>